@model IEnumerable<AlutaApp.Models.CGPA>


<table id="datatable" class="table table-theme table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">FullName</span></th>
                                            <th><span class="text-muted">Credit Unit</span></th>
                                            <th><span class="text-muted">Grade</span></th>
                                            <th><span class="text-muted">Grade Point</span></th>
                                            <th><span class="text-muted">Level</span></th>
                                            <th><span class="text-muted">Semester</span></th>
                                            <th><span class="text-muted">Course Code</span></th>
                                            
                                            <th><span class="text-muted">Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                @item.Id
                                            </td>
                                            <td >
                                                @item.CreditUnit
                                            </td>
                                             
                                            <td >
                                                @item.Grade
                                            </td>


                                            <td >
                                                @item.GradePoint
                                            </td>

                                            <td >
                                                @item.Level
                                            </td>

                                            <td >
                                                @item.Semester
                                            </td>

                                            <td >
                                                @item.CourseCode
                                            </td>
                                            <td>
                                                
                                                <div class="btn-group">
                                                    <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                    </i>
                   
                                                    <div class="dropdown-menu shadow animated--grow-in">
                                                        <a style='margin-right:16px' href="../../CGPAs/Details/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-eye text-success"></i> View
                                                        </a>
                           
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                   
                    
               
                                </div>


                              