

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<AlutaApp.ViewModels.Likers>
<div class="table-responsive">
Likers
  <table id="datatable" class="table table-theme table-row v-middle dataTable no-footer" role="grid" aria-describedby="datatable_info">
  <thead>
  <tr>
  <th><span class="text-muted">Name</span></th>
  <th><span class="text-muted">Time Created</span></th>
</tr>
  </thead>
  <tbody>
  @foreach(AlutaApp.ViewModels.Likers  item in Model){
      <tr>
      <td><small class="text-muted">@item.Name</small></td>
      
      <td><small class="text-muted">@item.TimeLiked</small></td>
      </tr>
  }
  </tbody>
  </table>
                                <div id="pager">
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("ViewPost","Administrators", new { page = page }),
            new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item"},
                        PageClasses = new string[] {"page-link"}
                    } )
                    
               
                                </div>


                              