@model IEnumerable<AlutaApp.Models.Document>

<table id="datatable" class="table table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Document Type</span></th>
                                            <th><span class="text-muted">Owner</span></th>
                                            <th><span class="text-muted">Department</span></th>
                                            <th><span class="text-muted">Document Link</span></th>
                                            <th><span class="text-muted">Total Download</span></th>
                                            <th><span class="text-muted">Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                @item.Category.Name
                                            </td>
                                            
                                            <td >
                                                @item.User.FullName
                                            </td>
                                            

                                              <td >
                                                @item.Department.Name
                                            </td>
                                            
                                              <td >
                                                @item.DocumentLink
                                            </td>


                                              <td >
                                                @item.TotalDownloads
                                            </td>

                                            <td>
                                                @*<div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../Administrators/ViewDocument/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                      
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item trash" href="../../Administrators/DeleteDocument/@item.Id" id="deleteInstitution">
                                                            Delete
                                                        </a>
                                                    </div>
                                                </div>*@
                                                <div class="btn-group">
                                                    <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                    </i>
                   
                                                    <div class="dropdown-menu shadow animated--grow-in">
                                                        <a style='margin-right:16px' href="../../Administrators/ViewDocument/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-eye text-success"></i> View
                                                        </a>
                           
                                                         <a style='margin-right:16px' href="../../Administrators/DeleteDocument/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-trash text-danger"></i> Delete
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
               
                   </div>


                              