

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@model X.PagedList.IPagedList<AlutaApp.Models.Notification>
<table id="datatable" class="table table-theme table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Content</span></th>
                                            <th><span class="text-muted">User</span></th>
                                            <th><span class="text-muted">Second Party</span></th>
                                            <th><span class="text-muted">Third Party</span></th>
                                           
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                <small class="text-muted">@item.Content</small>
                                            </td>
                                            
                                            <td >
                                                <small class="text-muted">@item.UserId</small>
                                            </td>

                                            <td >
                                                <small class="text-muted">@item.SecondPartyId</small>
                                            </td>

                                            <td >
                                                <small class="text-muted">@item.ThirdPartyId</small>
                                            </td>
                                            
                                            <td>
                                                <div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../Notifications/ViewNotification/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
            of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("AllNotification", new { page = page }),
            new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] { "page-item"},
                        PageClasses = new string[] {"page-link"}
                    } )
                    
               
                                </div>


                              