@model IEnumerable<AlutaApp.Models.Promotion>

<table id="datatable" class="table table-theme table-row table-bordered table-striped v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Start Date</span></th>
                                            <th><span class="text-muted">End Date</span></th>
                                            <th><span class="text-muted">Views</span></th>
                                            <th><span class="text-muted">Promoted By</span></th>
                                            <th><span class="text-muted">Status</span></th>
                                            <th><span class="text-muted">Post Id</span></th>
                                            <th><span class="text-muted">Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {
                                        <tr class="" data-id="16">
                                            <td >
                                                @item.StartDate
                                            </td>
                                            <td >
                                                @item.EndDate
                                            </td>
                                             
                                            <td >
                                                @item.Views
                                            </td>
                                            <td >
                                                @item.PromotedById
                                            </td>
                                            <td >
                                                @item.Status
                                            </td>
                                            <td >
                                                @item.PostId
                                            </td>
                                            <td>
                                                @*<div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../Promotions/Details/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                        <a class="dropdown-item edit" href="../../Promotions/Edit/@item.Id" id="editInstitution">
                                                            Update
                                                        </a>
                                                       
                                                        <a class="dropdown-item edit" href="../../Promotions/Delete/@item.Id" id="editInstitution">
                                                            Delete  
                                                        </a>
                                                    </div>
                                                </div>*@
                                                <div class="btn-group">
                                                    <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                    </i>
                   
                                                    <div class="dropdown-menu shadow animated--grow-in">
                                                        <a style='margin-right:16px' href="../../Promotions/Details/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-eye text-success"></i> View
                                                        </a>
                                                        <a style='margin-right:16px' href="../../Promotions/Edit/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-edit text-warning"></i> Edit
                                                        </a>
                                                         <a style='margin-right:16px' href="../../Promotions/Delete/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-trash text-danger"></i> Delete
                                                        </a>
                                                    </div>

                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>
                                </table>
                                <div>
                                    
                              </div>


                              