
@model IEnumerable<AlutaApp.Models.TGIFMatch>
<table id="datatable" class="table table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Male Match</span></th>
                                            <th><span class="text-muted">Female Match</span></th>
                                            <th><span class="text-muted">Male Status</span></th>
                                            <th><span class="text-muted">Female Status</span></th>
                                            <th><span class="text-muted">Date Matched</span></th>
                                            <th><span class="text-muted">Expiry Date</span></th>
                                            
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                <small class="text-muted">@item.Male</small>
                                            </td>
                                            <td >
                                                <small class="text-muted">@item.Female</small>
                                            </td>
                                             
                                            <td >
                    @if (@item.MaleStatus == 0)
                    {
                        <small class="badge badge-danger text-uppercase"
>DECLINED</small>
                    }
                    
                    else if (@item.MaleStatus == 2)
                    {
                        <small class="badge badge-success text-uppercase"
>ACCEPTED</small>
                    }
                    else
                    {
                        <small class="badge badge-secondary text-uppercase"
>NO ACTION</small>
                    }
                </td>


                                            <td>
                                                @if (@item.FemaleStatus == 0)
                    {
                        <small class="badge badge-danger text-uppercase"
>DECLINED</small>
                    }
                    
                    else if (@item.FemaleStatus == 2)
                    {
                        <small class="badge badge-success text-uppercase"
>ACCEPTED</small>
                    }
                    else
                    {
                        <small class="badge badge-secondary text-uppercase"
>NO ACTION</small>
                    }
                                            </td>

                                            <td >
                                                @item.DateMatched
                                            </td>

                                            <td >
                                                @item.DateOfExpiry
                                            </td>
                                            <td>
                                                @*<div class="item-action dropdown">
                                                    <a href="#" data-toggle="dropdown" class="text-muted">
                                                        <i data-feather="more-vertical"></i>
                                                    </a>
                                                    <div class="dropdown-menu dropdown-menu-right bg-black" role="menu">
                                                        <a class="dropdown-item" href="../../TGIFMatches/Details/@item.Id" id="viewInstitution">
                                                            View
                                                        </a>
                                                        <a class="dropdown-item edit" href="../../TGIFMatches/Edit/@item.Id" id="editInstitution">
                                                            Update
                                                        </a>
                                                       
                                                        <a class="dropdown-item edit" href="../../TGIFMatches/Delete/@item.Id" id="editInstitution">
                                                            Delete  
                                                        </a>
                                                    </div>
                                                </div>*@
                                                <div class="btn-group">
                                                    <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                    </i>
                   
                                                    <div class="dropdown-menu shadow animated--grow-in">
                                                        <a style='margin-right:16px' href="../../TGIFMatches/Details/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-eye text-success"></i> View
                                                        </a>
                                                        @*<a style='margin-right:16px' href="../../TGIFMatches/Edit/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-edit text-warning"></i> Edit
                                                        </a>
                                                         <a style='margin-right:16px' href="../../TGIFMatches/Delete/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-trash text-danger"></i> Delete
                                                        </a>*@
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                  
               
                                </div>


                              