@model IEnumerable<AlutaApp.Models.TimeTable>

<table id="datatable" class="table table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">Course</span></th>
                                            <th><span class="text-muted">Day</span></th>
                                            <th><span class="text-muted">Hour</span></th>
                                            <th><span class="text-muted">Minute</span></th>
                                            <th><span class="text-muted">RemindInMinutes</span></th>
                                            <th><span class="text-muted">User</span></th>
                                            
                                             <th><span class="text-muted">Action</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                @item.Course
                                            </td>
                                            <td >
                                                @item.Day
                                            </td>
                                             
                                            <td >
                                                @item.Hour
                                            </td>


                                            <td >
                                                @item.Minute
                                            </td>

                                            <td >
                                                @item.RemindInMinutes
                                            </td>

                                            <td >
                                                @item.User.FullName
                                            </td>
                                            <td>

                                                <div class="btn-group">
                                                    <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                    </i>
                   
                                                    <div class="dropdown-menu shadow animated--grow-in">
                                                        <a style='margin-right:16px' href="../../TimeTables/Details/@item.Id" class="dropdown-item">
                                                            <i class="fas fa-eye text-success"></i> View
                                                        </a>
                                                        
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>

                                </div>


                              