
@model AlutaApp.Models.TriviaQuestion
<div class="tab-pane fade show active" id="tab_1">
                                            
                                            <div class="card" id="feed-1">
                                                <div class="px-4 py-4">
                                                    <div class="row mb-2">
                                                        <div class="col-6">
                                                            <small class="text-muted">Question</small>
                                                            <div class="my-2">@Model.Question</div>
                                                        </div>
                                                        <div class="col-6">
                                                            <small class="text-muted">Option 1</small>
                                                            <div class="my-2">@Model.Option1</div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-6">
                                                            <small class="text-muted">Option 2</small>
                                                            <div class="my-2">@Model.Option2</div>
                                                        </div>
                                                        <div class="col-6">
                                                            <small class="text-muted">Option 3</small>
                                                            <div class="my-2">@Model.Option3</div>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-6">
                                                            <small class="text-muted">Option 4</small>
                                                            <div class="my-2">@Model.Option4</div>
                                                        </div>
                                                        <div class="col-6">
                                                            <small class="text-muted">Correct Option</small>
                                                            <div class="my-2">@Model.CorrectOption</div>
                                                        </div>
                                                    </div>
                                            </div>
                                            
                                            
                                        </div>
                                        
                                        
                                        