@model IEnumerable<AlutaApp.Models.TriviaQuestion>

<table id="datatable" class="table table-bordered table-striped table-row v-middle" data-plugin="dataTable">
                                    <thead>
                                        <tr>
                                            <th><span class="text-muted">TriviaId</span></th>
                                            <th><span class="text-muted">Question</span></th>
                                            <th><span class="text-muted">Option1</span></th>
                                            <th><span class="text-muted">Option2</span></th>
                                            <th><span class="text-muted">Option3</span></th>
                                            <th><span class="text-muted">Option4</span></th>
                                            <th><span class="text-muted">CorrectOption</span></th>
                                            
                                            <th width="10%"><span class="text-muted">Actions</span></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {

                                        <tr class="" data-id="16">
                                            <td >
                                                @item.TriviaId
                                            </td>
                                            <td >
                                                @item.Question
                                            </td> 
                                            <td >
                                                @item.Option1
                                            </td>
                                            <td >
                                                @item.Option2
                                            </td>
                                            <td >
                                                @item.Option3
                                            </td>
                                            <td >
                                                @item.Option4
                                            </td>
                                            <td >
                                                @item.CorrectOption
                                            </td>
                                            
                                            <td>
                                              
                                                <div class="btn-group">
                                                <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                                                </i>
                   
                                                <div class="dropdown-menu shadow animated--grow-in">
                                                   @* <a style='margin-right:16px' href="../../Trivias/Details/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-eye text-success"></i> View
                                                    </a>*@

                                                    <a style='margin-right:16px' href="../../Trivias/Edit/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-edit text-warning"></i> Edit
                                                    </a>
                                                   
                                                    @* <a style='margin-right:16px' href="../../Trivias/Delete/@item.Id" class="dropdown-item">
                                                        <i class="fas fa-trash text-danger"></i> Delete
                                                    </a>*@
                                                </div>

                                                </div>
                                            </td>
                                        </tr>
                                   }
                                    </tbody>

                                </table>
                                <div>
                                    
               
                                </div>


                              