@model IEnumerable<AlutaApp.Models.DocumentComment>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="col-sm-12">
    
        
             <h4> Document Comments</h4>
       

        
            
            <table id="datatable" class="table table-theme table-row v-middle table-striped table-bordered" data-plugin="dataTable">
            <thead>
                <tr>
                    <th>
                       FullName
                    </th>
                    <th>
                        Content
                    </th>
                    <th>
                        TimeCreated
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @item.UserId
                    </td>
                    <td>
                        @item.Content
                    </td>
                    <td>
                        @item.TimeCreated
                    </td>
                    <td>
                        @*<a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>*@
                        <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../DocumentComments/Details/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                           
                             <a style='margin-right:16px' href="../../DocumentComments/Delete/@item.Id" class="dropdown-item">
                                <i class="fas fa-trash text-danger"></i> Delete
                            </a>
                        </div>
                    </div>
                    </td>
                </tr>
        }
            </tbody>
        </table>
                                    
</div>
