@*@model IEnumerable<AlutaApp.Models.ChatGroupMessage>*@
@model AlutaApp.Models.GroupChatList

@{
    ViewData["Title"] = "GetMessagesByChatGroup";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div id="content" class="flex ">
                <!-- ############ Main START-->
                <div class="d-flex flex fixed-content">
                    <div class="aside aside-sm" id="content-aside">
                        <div class="d-flex flex-column w-xl modal-dialog bg-body" id="chat-nav">
                            <div class="navbar">
                                <div class="input-group flex bg-light rounded">
                                    <input type="text" class="form-control no-bg no-border no-shadow search" placeholder="Search" required="">
                                    <span class="input-group-append">
		                  <button class="btn no-bg no-shadow" type="button"><i data-feather="search" class="text-fade"></i></button>
		                </span>
                                </div>
                            </div>
                            <div class="scrollable hover">
                                @foreach (var users in Model.ChatGroupId)
                                {
                                <div class="list list-row">
                                    <div class="list-item " data-id="1">
                                        <div>
                                            <span class="avatar-status on"></span>
                                        </div>
                                        <div>
                                            <a href="app.message.html">
                                                <span class="w-40 avatar gd-primary">
		                          <img src="../assets/img/a1.jpg" alt=".">
		                    </span>
                                            </a>
                                        </div>
                                        @foreach (var item in Model.ChatGroupName)
                                        {
                                        <div class="flex">
                                            <a href="#" class="item-author text-color ">@item</a>
                                        </div>
                                        <br />
                                        }
                                        <div>
                                        </div>
                                    </div>
                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                </div>
                                }
                                <div class="no-result hide">
                                    <div class="p-4 text-center">
                                        No Results
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex pr-md-3" id="content-body">
                        <div class="d-flex flex-column flex card m-0 mb-md-3" id="chat-list" data-plugin="chat">
                            <div class="navbar flex-nowrap b-b">
                                <button data-toggle="modal" data-target="#content-aside" data-modal class="d-md-none btn btn-sm btn-icon no-bg">
                                    <span>
				      		<i data-feather="menu"></i>
				        </span>
                                </button>
                                
                               
                            <div class="scrollable hover">
                                <div class=""></div>
                                 @foreach (var chats in Model.MessageInfos)
                                 {
                                <div class="list">
                                    <div class="p-3">
                                        <div class="chat-list">
                                            <div class="chat-item" data-class>
                                                <a href="#" class="avatar w-40">
                                                    <img src="../assets/img/a2.jpg" alt=".">
                                                </a>
                                                <div class="chat-body">
                                                    <div class="chat-chats rounded msg bg-body">
                                                      @chats.Contents
                                                    </div>
                                                    <div class="chat-date date">
                                                       @chats.TimeCreated
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                }
                            </div>
                            
                        </div>
                    </div>
                </div>
                </div>
                </div>
@*<h3>Messages</h3>
*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeCreated)
            </th>
           <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DistinctBy(s=>s.UserId)) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sender.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
           <td>
               <a href="../../ChatGroups/GetMessagesByUser/@item.Sender.Id">Get Messages</a>
           </td>
        </tr>
}
    </tbody>
</table>*@
