@model IEnumerable<AlutaApp.Models.ChatGroup>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}




             <h4>Group Chats</h4>
       


<table id="datatable" class="table table-theme table-row v-middle table-striped table-bordered" data-plugin="dataTable">
    <thead>
        <tr>
            <th>
               InstitutionId
            </th>
            <th>
               DepartmentId
            </th>
            <th>
               YearOfAdmission
            </th>
            <th>
               Name
            </th>
            <th>
               GroupPhotoLink
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearOfAdmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@item.GroupPhotoLink" alt="grouplink"/>
            </td>
            <td>

                <a href="../../ChatGroups/GetMessagesByChatGroup/@item.Id">Group Messages</a>
            </td>
        </tr>
}
    </tbody>
</table>
        