@model IEnumerable<AlutaApp.Models.BannerAd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


             <h4> Banner Ads</h4>
        
            
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="datatable" class="table table-theme table-row v-middle table-striped table-bordered" data-plugin="dataTable">
    <thead>
        <tr>
            <th>
               User
            </th>
            <th>
               BannerLink
            </th>
            <th>
               Institution
            </th>
            <th>
               Department
            </th>
            <th>
               Gender
            </th>
            <th>
               StartDate
            </th>
            <th>
               EndDate
            </th>
            <th>
               Status
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BannerLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Institution)v
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Department)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                    @*@{
                        if (item.Status == 1)
                        {
                         
                          
                        }
                           
                    }*@
              @* @Html.DisplayFor("Created")*@
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../BannerAds/Details/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                            <a style='margin-right:16px' href="../../BannerAds/Edit/@item.Id" class="dropdown-item">
                                <i class="fas fa-edit text-warning"></i> Edit
                            </a>
                             <a style='margin-right:16px' href="../../BannerAds/Delete/@item.Id" class="dropdown-item">
                                <i class="fas fa-trash text-danger"></i> Delete
                            </a>
                        </div>

                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
        