@model IEnumerable<AlutaApp.Models.BannerAd>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
             <h3> Banner Ads</h3>
        </div>

        <div class="card-body">
            
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               User
            </th>
            <th>
               BannerLink
            </th>
            <th>
               InstitutionId
            </th>
            <th>
               DepartmentId
            </th>
            <th>
               Gender
            </th>
            <th>
               StartDate
            </th>
            <th>
               EndDate
            </th>
            <th>
               Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BannerLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstitutionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
        
    </div>                               
</div>
