@model AlutaApp.Models.TGIFMatch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TGIFMatch</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Male)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Male.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Female)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Female.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FemaleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FemaleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMatched)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMatched)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfExpiry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfExpiry)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you delete this record?')" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
