@using System.Web
@model IEnumerable<AlutaApp.ViewModels.MessageSingleDTO>

    @{
    ViewData["Title"] = "Messages";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=!importantmportantmportantpage-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-md-9">
                <div class="card card-bordered">
                    <div class="card-header">
                        <h4 class="card-title"><strong>Chats</strong></h4>
                        @*<a class="btn btn-xs btn-secondary" href="#" data-abc="true">Let's Chat App</a>*@
                    </div>


                    <div class="ps-container ps-theme-default ps-active-y" id="chat-content" style="overflow-y: scroll !important; height:400px !important;">

                        @foreach (var message in Model)
                        {
                            string allignmentClass = "media media-chat media-chat";
                            string image = "";
                            string deletedClass = "";
                            if(message.SenderId  ==  ViewBag.UserId1)
                            {
                                allignmentClass = "media media-chat media-chat-reverse";
                            }
                            if(!string.IsNullOrEmpty(message.MediaLink))
                            {
                                image = $"<img src='{message.MediaLink}' width='150px' /> <br/>";
                            }
                            if(message.Deleted)
                            {
                                deletedClass = "text-decoration:line-through;";
                            }
                            <div class="@allignmentClass">
                                <div class="media-body">
                                    @Html.Raw(HttpUtility.HtmlDecode(@image))
                                    
                                    <p style="@deletedClass">@message.Content</p>
                                    
                                    <p class="meta" style="color:black !important;"><time datetime="2018">@message.TimeCreated</time></p>
                                </div>
                            </div>  
                            
                        }


              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div></div></div>

             @* <div class="publisher bt-1 border-light">
                <img class="avatar avatar-xs" src="https://img.icons8.com/color/36/000000/administrator-male.png" alt="...">
                <input class="publisher-input" type="text" placeholder="Write something">
                <span class="publisher-btn file-group">
                  <i class="fa fa-paperclip file-browser"></i>
                  <input type="file">
                </span>
                <a class="publisher-btn" href="#" data-abc="true"><i class="fa fa-smile"></i></a>
                <a class="publisher-btn text-info" href="#" data-abc="true"><i class="fa fa-paper-plane"></i></a>
              </div>*@

             </div>
          </div>
          </div>
          </div>
          </div>