@model IEnumerable<AlutaApp.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}




             <h4> Notification</h4>
        
<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="datatable" class="table table-theme table-row v-middle table-striped table-bordered" data-plugin="dataTable">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Category
            </th>
            <th>
                CategoryId
            </th>
            <th>
                SecondPartyId
            </th>
            <th>
                ThirdPartyId
            </th>
            <th>
                Viewed
            </th>
            <th>
                Clicked
            </th>
            <th>
                TimeCreated
            </th>
            <th>
                Active
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdPartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../Notifications/Details/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                          
                        </div>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
        