@model IEnumerable<AlutaApp.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
             <h3> Notification</h3>
        </div>

        <div class="card-body">
            <h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Content
            </th>
            <th>
                Category
            </th>
            <th>
                CategoryId
            </th>
            <th>
                SecondPartyId
            </th>
            <th>
                ThirdPartyId
            </th>
            <th>
                Viewed
            </th>
            <th>
                Clicked
            </th>
            <th>
                TimeCreated
            </th>
            <th>
                Active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondPartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThirdPartyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Viewed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clicked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
        </div>
        
    </div>                               
</div>
