@model IEnumerable<AlutaApp.Models.Status>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class="col-sm-12">
   
        <h4>Statuses</h4>
    @* <p>
    <a asp-action="Create">Create New</a>
    </p>*@
    <table id="datatable" class="table table-theme table-row v-middle table-striped table-bordered" data-plugin="dataTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.FullName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImageLink)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextColorCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeCreated)
                </th>
                <th width="10%">Action</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageLink)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TextColorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeCreated)
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |*@
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                    <div class="btn-group">
                        <i class="fas fa-ellipsis-v text-center cursor" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                       
                        </i>
                   
                        <div class="dropdown-menu shadow animated--grow-in">
                            <a style='margin-right:16px' href="../../Status/Details/@item.Id" class="dropdown-item">
                                <i class="fas fa-eye text-success"></i> View
                            </a>
                           
                             <a style='margin-right:16px' href="../../Status/Delete/@item.Id" class="dropdown-item">
                                <i class="fas fa-trash text-danger"></i> Delete
                            </a>
                        </div>
                    </div>
                </td>
            </tr>
    }
        </tbody>
    </table>
                                     
</div>
